.DS_Store
Thumbs.db

/build/version.txt
/build/bin/
build/windows/installer/wails_tools.nsh
/build/windows/installer/tmp/
/build/darwin/dmg_settings.json

/releases/

/frontend/node_modules/
/frontend/dist/

/website/node_modules/
/website-dist/
