---
title: Shortcut reference
parent: User guide
order: 900
---

<p>You can use the following shortcuts to manage hosts and connections.</p>

<p>
  <a href="javascript:window.print()">Print this page</a> if you would like to
  mount it on your wall for quick reference!
</p>

{% for item in shortcuts %}
  <h2>{{ item[0] }}</h2>
  {% render "shortcuts", shortcuts: item[1] %}
{% endfor %}
