<a class="githubstars" href="https://github.com/garraflavatra/rolens" target="_blank">
  <span class="star">★</span>

  {% if github.stars %}
  <span class="count">{{ github.stars }}</span>
  {% endif %}

  Star on GitHub!
</a>
